/*
Banner
*/
.jumbotron {
  min-height: 280px;
  background: linear-gradient(#32213A, transparent 90%), linear-gradient(0deg, #fff, transparent 90%), no-repeat center center;
  background-size: cover;
  border-radius: 0;
}

h1 {
  font-family: 'Passion One', cursive;
}

/*
Body
*/

.container {
  width: 65%;
}

h2 {
  font-family: 'Niramit', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}
/*
Quote
*/

.quote {
  font-family: 'Charmonman', cursive;
  width: 80%;
  color: #2F343A;
  padding-bottom: 20px;
  margin: auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
  border-bottom: solid 1px #66717E;
}

.quoteCite {
  font-weight: 700;
}

/*
Decade Blocks
*/

#placeHolder {
  height: 100px;
}

#musicOfSixties {
  border: 4px solid #915916;
  border-radius: 25px;
  padding: 15px;
  margin: 35px 0;
}

#musicOfSeventies {
  border: 4px solid #362832;
  border-radius: 25px;
  padding: 15px;
  margin: 35px 0;
}

#musicOfEighties {
  border: 4px solid #2F262A;
  border-radius: 25px;
  padding: 15px;
  margin: 35px 0;
}

#musicOfNineties {
  border: 4px solid #5D5982;
  border-radius: 25px;
  padding: 15px;
  margin: 35px 0;
}

#musicOfAughts {
  border: 4px solid #145A48;
  border-radius: 25px;
  padding: 15px;
  margin: 35px 0;
}

/*
Footer
*/

footer {
  background-color: #32213A;
  margin-top: 60px;
}
